
body {
    background-color: hsl(184, 29%, 67%);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
}

.container-principal {
    display: flex;
    align-items: center;
    margin: 10rem 20rem;
    padding: 2rem;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
}

.calcular {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.inputGroupValorConta {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;

}

.inputGroupValorConta input, #custom, .inputGroupPessoas input {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid hsl(185, 42%, 69%);
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: rgba(128, 128, 128, 0.212);
}

.inputGroupValorConta input::placeholder, #custom input::placeholder {
    color: hsla(185, 13%, 37%, 0.281);
    text-align: left;
}


.porcentagemButtons {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

.porcentagemButton {
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700
}

.porcentagemButton:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    border: none;
}


#custom {
    width: 80px;
}

.inputGroupPessoas {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    gap: 8px;
}

.mostrarCalculo {
    display: flex;
    flex-direction: column;
    gap: 11rem;
    background-color: hsl(183, 100%, 15%);
    padding: 30px 2rem;
    border-radius: 10px;
    color: white;
}

.mostrarCalculoValorTotal {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.mostrarCalculoBotaoReset {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: hsl(185, 74%, 71%);
    color: hsl(183, 100%, 15%);
    font-weight: 800;
    cursor: pointer;
}




